.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-products {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 90%;
  justify-content: center;
  gap: 50px;
}

.cart-product {
  max-height: 430px;
  width: 284px;
}

/* .cart-product p {
  font-weight: bold;
} */

.cart-product-name {
  margin-bottom: 5px;
}

.cart-product-img {
  align-self: center;
  max-width: 280px;
  max-height: 250px;
  min-height: 250px;
  min-width: 280px;
  object-fit: cover;
  border-style: solid;
  border-color: #815a7d;
}

.cart-quantity-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-quantity-container * {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.cart-quantity-container button {
  background-color: #c8aac6;
  border-style: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  font-size: larger;
  box-shadow: inset -2px -2px #3f203c;
}

.cart-quantity-container button:hover {
  box-shadow: none;
}

.delete-product {
  background-color: #c8aac6;
  border-radius: 10%;
  border-style: none;
  padding: 5px;
  box-shadow: inset -2px -2px #3f203c;
}

.delete-product:hover {
  box-shadow: none;
}

.cart-below-name {
  width: 283px;
  padding-bottom: 3px;
  border-style: solid;
  border-color: #815a7d;
  background-color: rgb(255, 250, 232, 0.6);
}

.cart-below-name:hover {
  box-shadow: 4px 4px #815a7d;
  border-color: #815a7d;
}

.checkout {
  margin-top: 20px;
}
