body {
  font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
  background-color: #ddccdc;
  text-align: center;
  color: rgb(4, 49, 4);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  margin-left: 3em;
  margin-right: 3em;
  color: #fffae8;
  font-size: larger;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* .cart-container {
  display: flex;
  flex-direction: row;
} */

/* .cart-products {
  padding: 10px;
  margin: 10px;
  background-color: rgb(232, 231, 231);
  border-radius: 5px;
  min-width: 300px;
  max-height: 400px;
  max-width: 300px;
}

.cart-product-image {
  align-self: center;
  border-radius: 10px;
  max-width: 280px;
  max-height: 250px;
  width: auto;
  height: auto;
} */
